<p>
    TokenScript is an open developer framework which enables smart tokens (like HTML in Web2.0). TokenScript aims to allow token owners/issuers to quickly and securely provide a rich interface to their users. EtherDark provides a reference implementation of TokenScript.
    TokenScript has already been used by tokenisation projects like FIFA and UEFA’s blockchain tickets, and there are TokenScripts for leading DeFi contracts such as SAI, cDAI and many more.
    A TokenScript associated with a token provides a user with a trusted and private way to use more advanced features; for example renewal of domain for ENS, 'approve' on ERC20 for partner contracts, and even for breeding Cryptokitties.
    Further on <a href="https://tokenscript.org/community/">Tokenscript community page</a>
</p>